.main-about-us {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-about-us {
    padding-top: 140px;
    font-size: 50px;
    font-family: Merriweather;
}

.btn-more {
    color: #000000;
    border-color: #e3a062;
    min-width: 130px;
    border-width: 2px;
}

.strip-about {
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #e3a062;
}

@media screen and (max-width: 1210px) {
    .title-about-us {
        padding-top: 80px;
    }
}

@media screen and (max-width: 991px) {
    .title-about-us {
        font-size: 50px;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .main-about-us {
        padding-bottom: 100px;
    }
}