header {
    width: 100%;
    min-height: 700px;
    display: flex;
    background: url(../img/header_img.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode: darken;
    background-position: center;
}

.header {
    background-color: rgba(0, 0, 0, .89);
}

.social a {
    color: #fff;
    font-size: 12px;
    margin: 10px;
}

.jump {
    font-size: 12px;
}

.social a:hover {
    color: #e3a062;
}

.carousel-header {
    margin-top: -420px;
    min-height: 650px;
    color: #fff;
    margin-bottom: -200px;
}

.carousel-item-header .about {
    justify-content: center;
    align-items: center;
}

.strip {
    width: 30px;
    height: 2px;
    background-color: #e3a062;
    margin: 5px;
}

.slogan {
    font-size: 87px;
    font-family: Merriweather;
    color: #e3a062;
    line-height: 0.9em;
}

.a-inf {
    margin-top: 69px;
}

.more-info {
    margin-top: 68px;
    font-size: 12px;
    color: #e3a062;
    border-bottom: 2px solid #e3a062;
}

.more-info:hover {
    color: #fff;
}

.prev-header,
.next-header {
    margin-bottom: 300px;
}

@media screen and (max-width: 991px) {
    .carousel-header {
        margin-bottom: -100px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-header {
        margin-bottom: -150px;
    }
}

@media screen and (max-width: 411px) {
    .carousel-header {
        margin-bottom: -200px;
    }
}

@media screen and (max-width: 360px) {
    .carousel-header {
        margin-bottom: -250px;
    }
}

@media screen and (max-width: 320px) {
    .carousel-header {
        margin-bottom: -150px;
    }
}

@media screen and (max-width: 705px) {
    .slogan {
        font-size: 57px;
    }

    .a-inf {
        margin-top: 39px;
        font-size: 12px;
        text-align: justify;
    }
}

@media screen and (max-width: 578px) {
    .slogan {
        font-size: 37px;
    }

    a.carousel-control-prev {
        display: none;
    }

    a.carousel-control-next {
        display: none;
    }

    .a-inf {
        margin-top: 39px;
        font-size: 12px;
        text-align: justify;
    }
}