@import url('nav.css');
@import url('header.css');
@import url('about-us.css');
@import url('service.css');
@import url('project.css');
@import url('footer.css');
@import url('testimonials.css');
@import url('charger.css');
@import url('empty.css');
@import url('contacts.css');


@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-italic";
  src: url("../fonts/Merriweather-Italic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
  height: 100vh;
}

.letter {
  font-size: 200px;
  color: #e3a062;
  max-height: 200px;
  margin-top: -150px;
  font-family: Merriweather-italic;
}