@import url('nav.css');
@import url('header.css');
@import url('about-us.css');
@import url('service.css');
@import url('project.css');
@import url('footer.css');


@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
  height: 100vh;
}